@import url('https://fonts.googleapis.com/css?family=Roboto');
.box {
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 300;
    width: 300px;
}

.box-1 {background-color: #F44336;}
.box-2 {background-color: #FF9800;}
.box-3 {background-color: #FFC107;}
.box-4 {background-color: #FFEB3B;}
.box-5 {background-color: #8BC34A;}
.box-6 {background-color: #4CAF50;}
.box-7 {background-color: #009688;}
.box-8 {background-color: #2196F3;}
.box-9 {background-color: #9C27B0;}

.container {
    display: flex;
    border: 10px solid black;
    flex-direction: column;
    flex-wrap: wrap; 
    height: 800px;
}
